body{
    margin: 0;
    font-family: 'Poppins', sans-serif;}
h1{
    font-size: 50px;
}
.title{
    color: rgb(78, 235, 91);
}
.first{
    font-family: 'Times New Roman', Times, serif;
}
.para{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half img{
    width: 100%;
}
.top{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
}