body{
    margin: 0;
    font-family: 'Poppins', sans-serif;}
h1{
    font-size: 50px;
}
.title{
    color: rgb(78, 235, 91);
}

.para{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half img{
    width: 100%; 
}
.top{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
}
section{
    height: 600px;
}
.bt{
    background-image: linear-gradient(40deg, rgb(113, 241, 7), rgb(9, 235, 35));
    padding: 5px 10px;
    color: white;
    border-radius: 30px;
    text-decoration: none;
}
.mid{
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    height: 600px;
}
p{
    color: dimgray;
}
.mid{
    background-image: url(images/BG_MID.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.exp{
    margin-left: 5%;
}
.single-ex{
    box-shadow: 10px 10px;
}
.single-ex{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    background-color: white;
    
}
.ex{
    background-image: url(images/bglast.png);
    background-repeat: no-repeat;
    background-position: left;

}
#slice{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon,blue);
    border-image-slice: 1;
    
}
#eve{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
footer{
    text-align: center;
    font-size: 30px;
}